body {
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 18px;
  line-height: 1.3; }

a {
  text-decoration: unset; }

button {
  border: unset;
  outline: unset;
  cursor: pointer; }

button.theme-btn {
  box-sizing: border-box;
  height: 55px;
  padding: 1.4em 4.2em;
  background-color: #f4732c;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff; }

main > section {
  width: 100%;
  padding-bottom: 100px; }

main > section > .layout-wrapper {
  overflow: auto;
  max-width: 1372px;
  margin: 0 auto; }

.content-wrapper {
  display: flex;
  align-items: flex-start; }

.items-container {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap; }

.section-title {
  margin: 90px auto 40px;
  text-align: center;
  text-transform: uppercase;
  font: bold 45px/1.1 Montserrat;
  font-weight: bold; }

.section-description {
  margin: 0 auto 50px;
  text-align: center; }

.section-note {
  margin: 50px 0 60px;
  text-align: center; }

#technology1 .content-wrapper .description-block {
  flex: 1; }
  #technology1 .content-wrapper .description-block .description {
    line-height: 1.4;
    margin-bottom: 40px; }

#technology1 .content-wrapper .illustration-block {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  #technology1 .content-wrapper .illustration-block figure {
    position: relative;
    width: 612px;
    height: 305px; }
    #technology1 .content-wrapper .illustration-block figure img {
      width: 100%; }
    #technology1 .content-wrapper .illustration-block figure .caption-container {
      position: absolute; }
      #technology1 .content-wrapper .illustration-block figure .caption-container.caption-container-1 {
        top: 34px;
        left: 60px; }
        #technology1 .content-wrapper .illustration-block figure .caption-container.caption-container-1 .toogle-caption-btn {
          top: 2px;
          left: 170px; }
      #technology1 .content-wrapper .illustration-block figure .caption-container.caption-container-2 {
        top: 210px;
        left: 400px; }
        #technology1 .content-wrapper .illustration-block figure .caption-container.caption-container-2 .toogle-caption-btn {
          top: 12px;
          left: -50px; }
      #technology1 .content-wrapper .illustration-block figure .caption-container h4 {
        margin-bottom: 5px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        color: #1d1d20; }
      #technology1 .content-wrapper .illustration-block figure .caption-container p {
        font-size: 14px;
        line-height: 1.2; }
    #technology1 .content-wrapper .illustration-block figure .toogle-caption-btn {
      display: flex;
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #f7f7f7;
      font-weight: 100; }
      #technology1 .content-wrapper .illustration-block figure .toogle-caption-btn::before, #technology1 .content-wrapper .illustration-block figure .toogle-caption-btn::after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        display: block;
        height: 1px;
        width: 20px;
        background-color: #000; }
      #technology1 .content-wrapper .illustration-block figure .toogle-caption-btn::after {
        height: 20px;
        width: 1px;
        margin-top: -10px; }
      #technology1 .content-wrapper .illustration-block figure .toogle-caption-btn::before {
        margin-left: -10px; }
      #technology1 .content-wrapper .illustration-block figure .toogle-caption-btn.active {
        background-color: #f4732c; }
      #technology1 .content-wrapper .illustration-block figure .toogle-caption-btn.active::before, #technology1 .content-wrapper .illustration-block figure .toogle-caption-btn.active::after {
        background-color: #fff; }

#technology1 .section-title {
  max-width: 1040px; }

#technology1 .section-description {
  max-width: 1040px; }

#technology1 .items-container {
  display: flex;
  justify-content: space-between; }
  #technology1 .items-container .item {
    width: 30.8%;
    height: 360px; }
    #technology1 .items-container .item figure {
      overflow: hidden;
      position: relative;
      border-radius: 5px; }
      #technology1 .items-container .item figure img {
        width: 100%;
        height: auto; }
      #technology1 .items-container .item figure figcaption {
        overflow: hidden;
        position: absolute;
        left: 0;
        bottom: 0;
        box-sizing: border-box;
        padding: 30px;
        width: 100%;
        min-height: 46%;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.8); }
        #technology1 .items-container .item figure figcaption::after {
          position: absolute;
          left: 0;
          bottom: 0;
          height: 100%;
          width: 100%;
          content: "";
          background: linear-gradient(rgba(255, 255, 255, 0) 0%, white 80%);
          pointer-events: none; }
        #technology1 .items-container .item figure figcaption h4 {
          margin-bottom: 10px;
          text-transform: uppercase;
          font-size: 20px;
          font-weight: bold;
          color: #1d1d20; }
        #technology1 .items-container .item figure figcaption p {
          line-height: 1.2; }
        #technology1 .items-container .item figure figcaption .read-more-btn {
          position: absolute;
          top: 70%;
          left: 50%;
          margin-left: -65px;
          width: 130px;
          text-align: center;
          color: #f4732c;
          font-size: 14px;
          font-weight: bold;
          z-index: 1; }
          #technology1 .items-container .item figure figcaption .read-more-btn::before {
            content: '';
            display: inline-block;
            width: 9px;
            height: 10px;
            margin-right: 5px;
            background: url(../images/arrow1.png) center/contain no-repeat; }

#technology1 .theme-btn[data-action='open-catalog'] {
  display: block;
  margin: 0 auto; }

#technology2 {
  background-color: #f7f7f7; }
  #technology2 .section-title {
    max-width: 900px; }
  #technology2 .section-description {
    max-width: 1180px; }
  #technology2 .content-wrapper .illustration-block figure {
    position: relative;
    display: flex;
    align-items: flex-start; }
    #technology2 .content-wrapper .illustration-block figure .line {
      margin-top: 60px; }
    #technology2 .content-wrapper .illustration-block figure figcaption {
      position: absolute;
      top: 50px;
      left: 160px;
      max-width: 320px;
      color: #fff;
      line-height: 24px; }
  #technology2 .content-wrapper .description-block {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 20px; }
    #technology2 .content-wrapper .description-block .text-1 {
      position: relative;
      max-width: 500px;
      margin: 48px 0; }
      #technology2 .content-wrapper .description-block .text-1::before, #technology2 .content-wrapper .description-block .text-1::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        display: block;
        width: 14px;
        height: 10px;
        margin-left: -7px; }
      #technology2 .content-wrapper .description-block .text-1::before {
        top: -35px;
        background: url(../images/arrow2.png) center/contain no-repeat; }
      #technology2 .content-wrapper .description-block .text-1::after {
        top: 66px;
        background: url(../images/arrow3.png) center/contain no-repeat; }
    #technology2 .content-wrapper .description-block .text-2 {
      max-width: 400px;
      margin-bottom: 28px;
      font-size: 14px;
      text-align: center; }

#responsibilities {
  background-color: #f7f7f7; }
  #responsibilities .section-description {
    max-width: 1080px; }
  #responsibilities .items-container {
    justify-content: center;
    align-items: baseline; }
    #responsibilities .items-container .item {
      width: 360px;
      margin-bottom: 30px; }
      #responsibilities .items-container .item figure img {
        margin-bottom: 10px; }

#advantages .section-title {
  max-width: 950px; }

#advantages .section-description {
  max-width: 1080px;
  margin-bottom: 100px; }

#advantages .items-container {
  justify-content: space-between;
  align-items: baseline;
  box-sizing: border-box;
  padding: 0 15px; }
  #advantages .items-container .item {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 23.5%;
    min-height: 175px;
    background-color: #f4732c;
    border-radius: 10px; }
    #advantages .items-container .item .number-circle {
      display: flex;
      box-sizing: border-box;
      width: 106px;
      height: 106px;
      margin: -53px 0 30px;
      background: #fff;
      border: 5px solid #f4732c;
      border-radius: 50%; }
      #advantages .items-container .item .number-circle span {
        margin: auto;
        font: bold 45px Montserrat;
        color: #0d0d0d; }
    #advantages .items-container .item p {
      text-align: center;
      color: #fff; }

#question {
  background-color: #f7f7f7; }
  #question form .items-container {
    justify-content: space-between;
    align-items: baseline;
    box-sizing: border-box;
    padding: 0 15px; }
    #question form .items-container .item {
      width: 23.5%; }
      #question form .items-container .item input {
        display: block;
        box-sizing: border-box;
        width: 90%;
        min-height: 60px;
        padding: 0 0 0 7%;
        border: 1px solid #bababa;
        border-radius: 5px;
        background: #f7f7f7; }
      #question form .items-container .item input[type=submit] {
        padding: 0;
        text-align: center;
        border-radius: 5px;
        border: unset;
        background-color: #f4732c;
        text-transform: uppercase;
        font-size: 14px;
        color: #fff; }
