/* CSS reset with box-sizing fix */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 18px;
  line-height: 1.3; }

a {
  text-decoration: unset; }

input,
select {
  outline: unset; }

button,
input[type=submit] {
  border: unset;
  outline: unset;
  cursor: pointer; }

button.theme-btn {
  display: block;
  height: 55px;
  padding: 1.4em 4em;
  background-color: #f4732c;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #fff; }

main > section {
  overflow: hidden;
  width: 100%;
  padding-bottom: 100px; }

main .layout-wrapper {
  max-width: 1372px;
  margin: 0 auto; }

.content-wrapper {
  display: flex;
  align-items: flex-start; }

.items-container {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: space-between; }

.section-title {
  margin: 90px auto 40px;
  text-align: center;
  text-transform: uppercase;
  font: bold 45px/1.1 Montserrat;
  font-weight: bold; }

.section-description {
  margin: 0 auto 50px;
  text-align: center; }

.section-note {
  margin: 50px 0 60px;
  text-align: center; }

.menu {
  display: flex;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2); }
  .menu__list {
    display: flex; }
  .menu__item {
    margin-left: 15px;
    margin-right: 15px; }
    .menu__item:first-child {
      margin-left: 0; }
    .menu__item:last-child {
      margin-right: 0; }
  .menu__link {
    display: block;
    font-family: Montserrat;
    font-size: 14px;
    text-decoration: none;
    color: #1d1d20;
    letter-spacing: 0.28px;
    transition: .3s;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    text-transform: uppercase;
    text-shadow: -.5px -.5px 0 transparent, .5px .5px transparent; }
    .menu__link:hover {
      text-shadow: -.5px -.5px 0 black, .5px .5px black; }
    .menu__link:hover::before {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -1px;
      content: "";
      width: 120%;
      height: 5px;
      background-color: #f4732c; }
  @media screen and (max-width: 1024px) {
    .menu--hamburger {
      border-bottom: none; }
      .menu--hamburger.active {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #333;
        justify-content: center;
        align-items: center;
        z-index: 1000; } }
  @media screen and (max-width: 1024px) {
    .menu--hamburger .menu__list {
      display: none; } }
  @media screen and (max-width: 1024px) {
    .menu--hamburger.active .menu__list {
      display: flex;
      flex-direction: column; } }
  @media screen and (max-width: 1024px) {
    .menu--hamburger .menu__item {
      margin-left: 0;
      margin-right: 0; } }
  @media screen and (max-width: 1024px) {
    .menu--hamburger .menu__link {
      color: #fff;
      text-transform: uppercase;
      padding-top: 10px;
      padding-bottom: 10px; } }
  @media screen and (max-width: 1200px) {
    .menu--footer {
      border-bottom: none; } }
  @media screen and (max-width: 540px) {
    .menu--footer {
      display: none; } }
  @media screen and (max-width: 1200px) {
    .menu--footer .menu__list {
      flex-direction: column; } }
  @media screen and (max-width: 1200px) {
    .menu--footer .menu__item {
      margin-right: 0;
      margin-left: 0; } }
  @media screen and (max-width: 1200px) {
    .menu--footer .menu__link {
      padding-top: 5px;
      padding-bottom: 5px; } }
  .menu--footer .menu-item__list {
    top: auto;
    bottom: 100%; }

.menu-item {
  position: relative; }
  .menu-item:hover .menu-item__list {
    display: block; }
    @media screen and (max-width: 1024px) {
      .menu-item:hover .menu-item__list {
        display: none; } }
  @media screen and (max-width: 1024px) {
    .menu-item.active .menu-item__list {
      display: block; } }
  .menu-item ul[class="menu-item__list"] {
    padding: 10px; }
  .menu-item__list {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1000;
    padding-top: 5px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    background-color: #fff;
    min-width: 250px;
    display: none; }
    @media screen and (max-width: 1024px) {
      .menu-item__list {
        background-color: transparent; } }
    @media screen and (max-width: 1024px) {
      .menu-item__list {
        position: relative; } }
    .menu-item__list > li {
      margin-bottom: 5px; }
    .menu-item__list > li > a {
      display: block;
      font-family: Montserrat;
      font-size: 14px;
      text-decoration: none;
      color: #1d1d20;
      letter-spacing: 0.28px;
      transition: .2s; }
      @media screen and (max-width: 1024px) {
        .menu-item__list > li > a {
          color: #fff; } }
      .menu-item__list > li > a:hover {
        color: #f4732c; }

.hamburger {
  display: none; }
  @media screen and (max-width: 1024px) {
    .hamburger {
      padding: 15px 15px;
      display: inline-block;
      cursor: pointer;
      transition-property: opacity, filter;
      transition-duration: 0.15s;
      transition-timing-function: linear;
      font: inherit;
      color: inherit;
      text-transform: none;
      background-color: transparent;
      border: 0;
      margin: 0;
      overflow: visible; } }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.menu.active .hamburger {
  position: absolute;
  top: 0;
  right: 0; }
  .menu.active .hamburger-inner, .menu.active .hamburger-inner::before, .menu.active .hamburger-inner::after {
    background-color: #fff; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s; }

.header {
  margin-bottom: 100px;
  padding-top: 5px;
  background: url(../images/header-bg.png) center/cover no-repeat; }
  .header__inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end; }
    @media screen and (max-width: 992px) {
      .header__inner {
        align-items: center; } }

.logo {
  display: flex;
  align-items: center; }
  .logo__link {
    display: block;
    margin-right: 18px; }
  .logo__image {
    max-width: 130px;
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 5px; }

.callback {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (max-width: 540px) {
    .callback {
      display: none; } }
  .callback__link {
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.28px;
    text-decoration: none;
    transition: .3s;
    margin-bottom: 10px; }
    .callback__link:hover {
      color: #f4732c; }

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  .banner .company-name {
    margin: 100px 0; }
    .banner .company-name h1 {
      margin-bottom: 45px;
      text-transform: uppercase;
      font: bold 45px/1 Montserrat;
      color: #2c2c2c; }
  .banner .rewards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 270px; }
    .banner .rewards p {
      min-width: 100%;
      text-align: center;
      margin-bottom: 30px; }

#technology1 {
  padding-bottom: 0; }
  #technology1 .content-wrapper .description-block {
    flex: 1; }
    #technology1 .content-wrapper .description-block .description {
      line-height: 1.4;
      margin-bottom: 40px; }
  #technology1 .content-wrapper .illustration-block {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center; }
    #technology1 .content-wrapper .illustration-block figure {
      position: relative;
      width: 612px;
      height: 305px; }
      #technology1 .content-wrapper .illustration-block figure img {
        width: 100%; }
      #technology1 .content-wrapper .illustration-block figure .caption-container {
        position: absolute; }
        #technology1 .content-wrapper .illustration-block figure .caption-container .hidden-content {
          opacity: 0; }
        #technology1 .content-wrapper .illustration-block figure .caption-container.active .hidden-content {
          opacity: 1; }
        #technology1 .content-wrapper .illustration-block figure .caption-container[data-caption-id="1"] {
          top: 34px;
          left: 60px; }
          #technology1 .content-wrapper .illustration-block figure .caption-container[data-caption-id="1"] .toggle-caption-btn {
            top: 2px;
            left: 170px; }
        #technology1 .content-wrapper .illustration-block figure .caption-container[data-caption-id="2"] {
          top: 210px;
          left: 400px; }
          #technology1 .content-wrapper .illustration-block figure .caption-container[data-caption-id="2"] .toggle-caption-btn {
            top: 12px;
            left: -50px; }
        #technology1 .content-wrapper .illustration-block figure .caption-container h4 {
          margin-bottom: 5px;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: bold;
          color: #1d1d20; }
        #technology1 .content-wrapper .illustration-block figure .caption-container p {
          font-size: 14px;
          line-height: 1.2; }
      #technology1 .content-wrapper .illustration-block figure .toggle-caption-btn {
        display: flex;
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #f7f7f7;
        font-weight: 100; }
        #technology1 .content-wrapper .illustration-block figure .toggle-caption-btn::before, #technology1 .content-wrapper .illustration-block figure .toggle-caption-btn::after {
          position: absolute;
          top: 50%;
          left: 50%;
          content: '';
          display: block;
          height: 1px;
          width: 20px;
          background-color: #000; }
        #technology1 .content-wrapper .illustration-block figure .toggle-caption-btn::after {
          height: 20px;
          width: 1px;
          margin-top: -10px; }
        #technology1 .content-wrapper .illustration-block figure .toggle-caption-btn::before {
          margin-left: -10px; }
        #technology1 .content-wrapper .illustration-block figure .toggle-caption-btn:hover {
          background-color: #f4732c; }
        #technology1 .content-wrapper .illustration-block figure .toggle-caption-btn:hover::before, #technology1 .content-wrapper .illustration-block figure .toggle-caption-btn:hover::after {
          background-color: #fff; }

#technology1Features .section-title {
  max-width: 1040px; }

#technology1Features .section-description {
  max-width: 1040px; }

#technology1Features .items-container {
  display: flex; }
  #technology1Features .items-container .item {
    width: 30.8%;
    height: 360px; }
    #technology1Features .items-container .item figure {
      overflow: hidden;
      position: relative;
      border-radius: 5px; }
      #technology1Features .items-container .item figure img {
        width: 100%;
        height: auto; }
      #technology1Features .items-container .item figure figcaption {
        overflow: hidden;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 30px;
        width: 100%;
        min-height: 46%;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.8); }
        #technology1Features .items-container .item figure figcaption::after {
          position: absolute;
          left: 0;
          bottom: 0;
          height: 100%;
          width: 100%;
          content: "";
          background: linear-gradient(rgba(255, 255, 255, 0) 0%, white 80%);
          pointer-events: none; }
        #technology1Features .items-container .item figure figcaption h4 {
          margin-bottom: 10px;
          text-transform: uppercase;
          font-size: 20px;
          font-weight: bold;
          color: #1d1d20; }
        #technology1Features .items-container .item figure figcaption p {
          line-height: 1.2; }
        #technology1Features .items-container .item figure figcaption .read-more-btn {
          position: absolute;
          top: 70%;
          left: 50%;
          margin-left: -65px;
          width: 130px;
          text-align: center;
          color: #f4732c;
          font-size: 14px;
          font-weight: bold;
          z-index: 1; }
          #technology1Features .items-container .item figure figcaption .read-more-btn::before {
            content: '';
            display: inline-block;
            width: 9px;
            height: 10px;
            margin-right: 5px;
            background: url(../images/arrow1.png) center/contain no-repeat; }

#technology1Features .theme-btn[data-action='open-catalog'] {
  margin: 0 auto; }

#technology2 {
  background-color: #f7f7f7; }
  #technology2 .section-title {
    max-width: 900px; }
  #technology2 .section-description {
    max-width: 1180px; }
  #technology2 .content-wrapper .illustration-block figure {
    position: relative;
    display: flex;
    align-items: flex-start; }
    #technology2 .content-wrapper .illustration-block figure .line {
      margin-top: 60px; }
    #technology2 .content-wrapper .illustration-block figure figcaption {
      position: absolute;
      top: 50px;
      left: 160px;
      max-width: 320px;
      color: #fff;
      line-height: 24px; }
  #technology2 .content-wrapper .description-block {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 20px; }
    #technology2 .content-wrapper .description-block .text-1 {
      position: relative;
      max-width: 500px;
      text-align: center; }
      #technology2 .content-wrapper .description-block .text-1::before, #technology2 .content-wrapper .description-block .text-1::after {
        content: '';
        display: block;
        width: 14px;
        height: 10px; }
      #technology2 .content-wrapper .description-block .text-1::before {
        margin: 10px auto 25px;
        background: url(../images/arrow2.png) center/contain no-repeat; }
      #technology2 .content-wrapper .description-block .text-1::after {
        margin: 20px auto;
        background: url(../images/arrow3.png) center/contain no-repeat; }
    #technology2 .content-wrapper .description-block .text-2 {
      max-width: 400px;
      margin-bottom: 28px;
      font-size: 14px;
      text-align: center; }

#responsibilities {
  background-color: #f7f7f7; }
  #responsibilities .section-description {
    max-width: 1080px; }
  #responsibilities .items-container {
    justify-content: center;
    align-items: baseline; }
    #responsibilities .items-container .item {
      width: 360px;
      margin-bottom: 30px; }
      #responsibilities .items-container .item figure img {
        margin-bottom: 10px; }

#advantages .section-title {
  max-width: 950px; }

#advantages .section-description {
  max-width: 1080px;
  margin-bottom: 100px; }

#advantages .items-container {
  align-items: baseline;
  padding: 0 15px; }
  #advantages .items-container .item {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 23.5%;
    min-height: 175px;
    background-color: #f4732c;
    border-radius: 10px; }
    #advantages .items-container .item .number-circle {
      display: flex;
      width: 106px;
      height: 106px;
      margin: -53px 0 30px;
      background: #fff;
      border: 5px solid #f4732c;
      border-radius: 50%; }
      #advantages .items-container .item .number-circle span {
        margin: auto;
        font: bold 45px Montserrat;
        color: #0d0d0d; }
    #advantages .items-container .item p {
      text-align: center;
      color: #fff; }

#graph {
  padding-bottom: 150px; }
  #graph .axis-caption {
    position: absolute;
    font-size: 14px; }
    #graph .axis-caption-1 {
      top: -15px;
      left: -100px; }
    #graph .axis-caption-2 {
      bottom: -60px;
      right: -60px; }
  #graph .bar {
    position: relative;
    width: 100%;
    height: 470px;
    padding-bottom: 2px; }
    #graph .bar__title {
      text-align: center; }
    #graph .bar__desc {
      text-align: center; }
    #graph .bar__decor {
      position: absolute;
      width: 100%;
      height: 100%;
      border-bottom: 2px solid #333;
      border-left: 2px solid #333; }
    #graph .bar__icon {
      width: 10px;
      height: 12px;
      position: absolute; }
      #graph .bar__icon:first-of-type {
        top: -10px;
        left: -6px; }
      #graph .bar__icon:last-of-type {
        right: -9px;
        bottom: -7px;
        transform: rotate(90deg); }
    #graph .bar__decor-item {
      position: absolute;
      left: 50px;
      width: 96.3%;
      height: 1px;
      background-color: rgba(51, 51, 51, 0.05); }
      #graph .bar__decor-item:nth-of-type(1) {
        top: 0%; }
      #graph .bar__decor-item:nth-of-type(2) {
        top: 25%; }
      #graph .bar__decor-item:nth-of-type(3) {
        top: 50%; }
      #graph .bar__decor-item:nth-of-type(4) {
        top: 75%; }
      #graph .bar__decor-item:before {
        position: absolute;
        left: -30px;
        top: -10px;
        content: attr(data-value);
        font-size: 14px;
        color: rgba(51, 51, 51, 0.6); }
    #graph .bar__inner {
      display: flex;
      height: 100%;
      justify-content: space-between;
      align-items: flex-end;
      padding-left: 50px;
      padding-right: 50px; }
    #graph .bar__column {
      transition: height .6s linear;
      position: relative;
      border-top: 12px solid #949496;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 100px;
      height: 50%;
      background-color: rgba(51, 51, 51, 0.6); }
      #graph .bar__column[data-max="true"] {
        background-color: #ff5f00;
        border-top-color: #ff7420; }
      @media screen and (max-width: 992px) {
        #graph .bar__column {
          max-width: 12%; } }
    #graph .bar__value, #graph .bar__name {
      text-align: center;
      color: #333333;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.98px;
      line-height: 19px;
      position: absolute;
      left: 0;
      width: 100%; }
    #graph .bar__column[data-max="true"] .bar__value,
    #graph .bar__column[data-max="true"] .bar__name {
      font-family: Montserrat;
      font-size: 16px;
      letter-spacing: 0.64px;
      font-weight: 700; }
    #graph .bar__value {
      top: -35px; }
    #graph .bar__name {
      bottom: -50px; }
      @media screen and (max-width: 768px) {
        #graph .bar__name {
          transform: translateX(-50%) rotate(-90deg);
          transform-origin: 50% 50%;
          text-align: center;
          left: 50%;
          width: 100px;
          bottom: -70px;
          text-align: right; } }

#question {
  background-color: #f7f7f7; }
  #question form .items-container {
    align-items: baseline;
    padding: 0 15px; }
    #question form .items-container .item {
      width: 23.5%;
      position: relative; }
      #question form .items-container .item input,
      #question form .items-container .item select {
        display: block;
        width: 90%;
        min-height: 60px;
        padding: 0 0 0 7%;
        border: 1px solid #bababa;
        border-radius: 5px;
        background: #f7f7f7;
        font: 14px/1 Montserrat;
        color: #2c2c2c; }
      #question form .items-container .item input::placeholder {
        color: #2c2c2c; }
      #question form .items-container .item select {
        color: #2c2c2c;
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #f7f7f7 url(../images/arrow3.png) 90% center/14px 10px no-repeat; }
        #question form .items-container .item select option {
          color: #2c2c2c; }
      #question form .items-container .item input[type=submit] {
        padding: 0;
        text-align: center;
        border-radius: 5px;
        border: unset;
        background-color: #f4732c;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        color: #fff; }

#segments {
  padding-bottom: 0; }
  #segments .section-title {
    max-width: 950px; }
  #segments .section-description {
    max-width: 1000px; }
  #segments .items-container {
    padding: 0 15px; }
    #segments .items-container .item {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 23.5%;
      margin-bottom: 1.8%; }
      #segments .items-container .item figure {
        width: 100%; }
        #segments .items-container .item figure img {
          position: absolute;
          top: 0;
          width: 100%; }
        #segments .items-container .item figure figcaption {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          min-height: 100px;
          margin-top: 150px;
          background-color: #f4732c;
          border-radius: 10px;
          text-align: center;
          z-index: 1; }
          #segments .items-container .item figure figcaption p {
            max-width: 180px;
            color: #fff; }

#achievements .section-title {
  max-width: 950px; }

#achievements .section-description {
  max-width: 1000px; }

#achievements #slider {
  width: 100%;
  margin: 100px auto; }
  #achievements #slider .slick-slide {
    margin: 0px 20px;
    transition: all ease-in-out .3s;
    border-radius: 10px;
    overflow: hidden; }
    #achievements #slider .slick-slide figure {
      position: relative;
      display: flex;
      align-items: flex-end;
      width: 100%;
      height: 435px;
      padding: 30px; }
      #achievements #slider .slick-slide figure img {
        position: absolute; }
        #achievements #slider .slick-slide figure img.cover-img {
          top: 0;
          left: 0;
          width: 100%;
          object-fit: cover; }
        #achievements #slider .slick-slide figure img.logo {
          top: 40px;
          left: 50px; }
      #achievements #slider .slick-slide figure figcaption {
        color: #fff;
        z-index: 1; }
  #achievements #slider .slick-arrow {
    width: 45px;
    height: 45px; }
    #achievements #slider .slick-arrow.slick-prev {
      left: -50px;
      background: url(../images/slick-arrow1.png) center no-repeat; }
    #achievements #slider .slick-arrow.slick-next {
      right: -50px;
      background: url(../images/slick-arrow2.png) center no-repeat; }
    #achievements #slider .slick-arrow::before, #achievements #slider .slick-arrow::after {
      display: none; }
  #achievements #slider .slick-arrow::before,
  #achievements #slider .slick-arrow::after {
    display: none; }
  #achievements #slider .slick-dots {
    bottom: -40px; }
    #achievements #slider .slick-dots li button::before {
      font-size: 10px;
      color: #fd691c; }

#map .section-description {
  max-width: 900px; }

#map .map {
  width: 100%; }

#contact .theme-btn {
  margin: 0 auto; }

.footer {
  background-color: #f7f7f7;
  padding-top: 65px;
  padding-bottom: 65px; }
  .footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto; }
    .footer__inner::before {
      content: none; }
  .footer .menu {
    border: unset; }
    .footer .menu__link:hover::before {
      display: none; }

.slogan {
  color: #1d1d20;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.28px; }
  @media screen and (max-width: 768px) {
    .slogan {
      display: none; } }

.contacts {
  font-style: normal; }
  .contacts__item {
    color: #1d1d20;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.28px; }
    .contacts__item > span {
      color: #f4732c;
      transition: .2s; }
  .contacts__link {
    color: #1d1d20;
    text-decoration: none;
    transition: .2s; }
  .contacts__item:hover > span {
    color: #1d1d20; }
  .contacts__item:hover .contacts__link {
    color: #f4732c; }

@media screen and (max-width: 1366px) {
  .layout-wrapper {
    max-width: 100%;
    padding: 0 3%; } }
