/* technology1 */
#technology1 .content-wrapper {
  display: flex;
  align-items: flex-start; }
  #technology1 .content-wrapper .description-block {
    flex: 1; }
    #technology1 .content-wrapper .description-block .description {
      font-size: 18px;
      line-height: 1.4;
      margin-bottom: 40px; }
  #technology1 .content-wrapper .illustration-block {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center; }
    #technology1 .content-wrapper .illustration-block figure {
      position: relative;
      width: 612px;
      height: 305px; }
      #technology1 .content-wrapper .illustration-block figure img {
        width: 100%; }
      #technology1 .content-wrapper .illustration-block figure .caption-container {
        position: absolute; }
        #technology1 .content-wrapper .illustration-block figure .caption-container.caption-container-1 {
          top: 34px;
          left: 60px; }
          #technology1 .content-wrapper .illustration-block figure .caption-container.caption-container-1 .toogle-caption-btn {
            top: 2px;
            left: 170px; }
        #technology1 .content-wrapper .illustration-block figure .caption-container.caption-container-2 {
          top: 210px;
          left: 400px; }
          #technology1 .content-wrapper .illustration-block figure .caption-container.caption-container-2 .toogle-caption-btn {
            top: 12px;
            left: -50px; }
        #technology1 .content-wrapper .illustration-block figure .caption-container h4 {
          margin-bottom: 5px;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: bold;
          color: #1d1d20; }
        #technology1 .content-wrapper .illustration-block figure .caption-container p {
          font-size: 14px;
          line-height: 1.2; }
      #technology1 .content-wrapper .illustration-block figure .toogle-caption-btn {
        display: flex;
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #f7f7f7;
        font-weight: 100; }
        #technology1 .content-wrapper .illustration-block figure .toogle-caption-btn::before, #technology1 .content-wrapper .illustration-block figure .toogle-caption-btn::after {
          position: absolute;
          top: 50%;
          left: 50%;
          content: '';
          display: block;
          height: 1px;
          width: 20px;
          background-color: #000; }
        #technology1 .content-wrapper .illustration-block figure .toogle-caption-btn::after {
          height: 20px;
          width: 1px;
          margin-top: -10px; }
        #technology1 .content-wrapper .illustration-block figure .toogle-caption-btn::before {
          margin-left: -10px; }
        #technology1 .content-wrapper .illustration-block figure .toogle-caption-btn.active {
          background-color: #df6928; }
        #technology1 .content-wrapper .illustration-block figure .toogle-caption-btn.active::before, #technology1 .content-wrapper .illustration-block figure .toogle-caption-btn.active::after {
          background-color: #fff; }

#technology1 .section-description {
  max-width: 1040px; }

#technology1 .items-container {
  display: flex;
  justify-content: space-between; }
  #technology1 .items-container .item {
    width: 30.8%;
    height: 360px; }
    #technology1 .items-container .item figure {
      overflow: hidden;
      position: relative;
      border-radius: 5px; }
      #technology1 .items-container .item figure img {
        width: 100%;
        height: auto; }
      #technology1 .items-container .item figure figcaption {
        overflow: hidden;
        position: absolute;
        left: 0;
        bottom: 0;
        box-sizing: border-box;
        padding: 30px;
        width: 100%;
        min-height: 46%;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.8); }
        #technology1 .items-container .item figure figcaption h4 {
          margin-bottom: 10px;
          text-transform: uppercase;
          font-size: 20px;
          font-weight: bold;
          color: #1d1d20; }
        #technology1 .items-container .item figure figcaption p {
          font-size: 18px;
          line-height: 1.2; }
          #technology1 .items-container .item figure figcaption p::after {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            content: "";
            background: linear-gradient(rgba(255, 255, 255, 0) 0%, white 80%);
            pointer-events: none; }
        #technology1 .items-container .item figure figcaption .read-more-btn {
          position: absolute;
          top: 70%;
          left: 50%;
          margin-left: -65px;
          width: 130px;
          text-align: center;
          color: #df6928;
          font-size: 14px;
          font-weight: bold; }

#technology1 .theme-btn[data-action='open-catalog'] {
  display: block;
  margin: 0 auto; }

/* technology1 END*/
