$branc-color: #fd691c;

body {
    font-family: 'Open Sans',
        Arial,
        Helvetica,
        sans-serif;
    color: #333333;
    font-size: 18px;
    line-height: 1.3;
}

a {
    text-decoration: unset;
}

input,
select {
    outline: unset;
}

button,
input[type=submit] {
    border: unset;
    outline: unset;
    cursor: pointer;
}

button.theme-btn {
    display: block;
    height: 55px;
    padding: 1.4em 4em;
    background-color: $branc-color;
    border-radius: 5px;
    text-transform: uppercase;
    font: bold 14px Montserrat;
    letter-spacing: 0.2px;
    color: #fff;

    transition: background 0.3s;
}

.theme-btn:hover {
    background-color: #d34b00;
}

.theme-form {

    input,
    select {
        display: block;
        width: 100%;
        height: 60px;
        padding: 0 7%;
        border: 1px solid #bababa;
        border-radius: 5px;
        background: #f7f7f7;
        font: 14px/1 Montserrat;
        color: #2c2c2c;
    }

    input::placeholder {
        color: #2c2c2c;
    }

    select {
        position: relative;
        padding: 0 7%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #f7f7f7 url(../images/arrow3.png) 90% center/14px 10px no-repeat;
        color: #2c2c2c;

        option {
            color: #2c2c2c;
        }
    }

    input[type="submit"] {
        padding: 0;
        text-align: center;
        border-radius: 5px;
        border: unset;
        background-color: $branc-color;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
    }
}