$branc-color: #df6928;

body {
    font-family: OpenSans,
        Arial,
        Helvetica,
        sans-serif;
    color: #333333;
    font-size: 18px;
    line-height: 1.3;
}

a {
    text-decoration: unset;
}

input,
select {
    outline: unset;
}
 
button,
input[type=submit] {
    border: unset;
    outline: unset;
    cursor: pointer;
}

button.theme-btn {
    display: block;
    height: 55px;
    padding: 1.4em 4em;
    background-color: $branc-color;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
