$break-laptop: 1366px;
$break-tablet-landscape: 1024px;
$break-tablet-portrait: 768px;
$break-mobile-large: 767px;
$break-mobile-medium: 424px;
$break-mobile-small: 374px;

@import "media/_laptop.scss";
@import "media/_tabletLandscape.scss";
@import "media/_tabletPortrait.scss";
@import "media/_mobileLarge.scss";
@import "media/_mobileMedium.scss";
@import "media/_mobileSmall.scss";