#technology2 {
    background-color: #f7f7f7;

    .section-title {
        max-width: 900px;
    }

    .section-description {
        max-width: 1180px;
    }

    .content-wrapper {
        .illustration-block {
            figure {
                position: relative;
                display: flex;
                align-items: flex-start;

                .frame {}

                .line {
                    margin-top: 60px;
                }

                figcaption {
                    position: absolute;
                    top: 50px;
                    left: 160px;
                    max-width: 320px;
                    color: #fff;
                    line-height: 24px;

                }
            }
        }

        .description-block {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin-left: 20px;

            .text-1 {
                position: relative;
                max-width: 500px;
                margin: 48px 0;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 50%;
                    display: block;
                    width: 14px;
                    height: 10px;
                    margin-left: -7px;
                }

                &::before {
                    top: -35px;
                    background: url(../images/arrow2.png) center/contain no-repeat;
                }

                &::after {
                    top: 66px;
                    background: url(../images/arrow3.png) center/contain no-repeat;
                }
            }

            .text-2 {
                max-width: 400px;
                margin-bottom: 28px;
                font-size: 14px;
                text-align: center;
            }
        }
    }
}