@media screen and (max-width: $mobile-large) {

    .layout-wrapper,
    .footer {
        padding-left: 5%;
        padding-right: 5%;
    }

    .section-title {
        margin: 40px auto 20px;
        font: bold 20px/1.1 Montserrat;
        text-align: left;
    }

    .section-description {
        margin: 0 0 40px 0;
        text-align: left;
        font-size: 16px;
    }

    main>section {
        padding-bottom: 30px;
    }

    .theme-btn {
        margin-left: auto;
        margin-right: auto;
    }

    /* header */
    .header {
        .banner {

            .company-name {
                margin: 30px 0 30px;

                h1 {
                    margin-bottom: 0;
                }

                h4 {
                    display: none;
                }
            }
        }
        nav.active .hamburger-callback[data-open-popup-id="contact-popup"] {
            max-width: 70%;
        }
    }

    /* technology1 */
    #technology1 {
        .description-block {
            font-size: 16px;
        }

        .illustration-block {
            display: none;
        }
    }

    /* technology1Features */
    #technology1Features {
        .items-container { 
            .item {
                width: 100%;
                margin-bottom: 30px;
            }
        }

        .section-note {
            margin: 20px auto 30px;
            font-size: 16px;
        }
    }

    /* technology2 */
    #technology2 {

        .illustration-block {
            display: none;
        }

        .description-block {
            margin: 0;
        }
    }

    /* responsibilities */
    #responsibilities {

        .item {
            width: 100%;
            text-align: center;

            figure {
                display: flex;
                align-items: center;
                width: 100%;

                img {
                    margin: 0 30px 0 0;
                }

                figcaption {
                    text-align: left;
                }
            }
        }
    }

    /* advantages */
    #advantages {
        .section-description {
            margin-bottom: 50px;
        }

        .items-container {
            flex-direction: column;
            align-items: flex-end;

            .item {
                flex-direction: row;
                align-items: center;
                width: 90%;
                height: 110px;

                .number-circle {
                    min-width: 80px;
                    height: 80px;
                    margin: auto 10px auto -35px;
                }

                .description {
                    max-width: 100%;
                    padding: 0 20px 0 0;
                    text-align: left;
                    font-size: 16px;
                }

                &:nth-child(n) {
                    margin-bottom: 30px;
                }
            }
        }
    }

    /* graph */
    #graph {
        .bar__inner {
            padding: 0 10px 0 32px;
        }

        .bar__decor-item {
            left: 30px;
        }

        .bar__decor-item::before {
            left: -22px;
            top: -6px;
            font-size: 10px;
        }

        .axis-caption-1 {
            left: -100px;
        }

        .axis-caption-2 {
            right: -60px;
        }
    }

    /* question */
    #question {
        .items-container {
            align-items: center;

            .item:nth-child(n) {
                display: flex;
                justify-content: center;
                width: 100%;
                margin: 0 auto 20px;
            }
        }
    }

    /* segments */
    #segments {
        .item {
            figcaption {
                height: 60px;
                margin-top: 100px;

                p {
                    font-size: 14px;
                }
            }
        }
    }

    /* slider */
    #slider {
        width: 100%;
    }

    /* slider */
    #achievements {
        padding-bottom: 60px;
    }

    /* popups */
    .popup {
        width: 92%;

        .theme-form {
            max-width: 80%;

            .item:last-child {
                width: 100%;
                max-width: unset;
            }
        }

        .popup-content {
            margin: 80px auto 60px;
        }

        .popup-title {
            font-size: 23px;
            margin-bottom: 20px;
        }

        .popup-caption {
            font-size: 13px;
            margin-bottom: 30px;
        }

        .close-btn img {
            width: 25px;
        }

        input,
        select {
            height: 50px;
        }
    }

    #thanksPopup {

        .popup-title p {
            font-size: 14px;
        }
    }
}