@media screen and (max-width: $mobile-small) {

    /* header */
    .header {
        .logo__link img {
            width: 80%;
        }

        .banner .company-name h1 {
            font-size: 27px;
        }
    }

    /* question */
    #question {

        .items-container .item:nth-child(n) {
            width: 100%;
        }

        .item input,
        .item select {
            width: 100%;
        }
    }

    /* segments */
    #segments {
        .item {
            width: 100%;
            margin-bottom: 20px;

            img {
                height: 100%;
            }

            figcaption {
                margin-top: 110px;
            }
        }
    }

    /* slider */
    #slider {
        width: 100%;

        .slick-slide {
            figure {
                img.logo {
                    top: 30px;
                    left: 30px;
                    width: 50%;
                }

                figcaption {
                    font-size: 16px;
                }
            }

        }
    }

    /* popups */
    .popup {
        width: 92%;

        .theme-form {
            max-width: 90%;
        }

        .popup-content {
            margin: 80px auto 50px;
        }

        .popup-title {
            font-size: 20px;
        }

        .popup-caption {
            font-size: 12px;
            margin-bottom: 20px;
        }

        input,
        select {
            height: 50px;
        }
    }
}