@media screen and (max-width: $break-mobile-medium) {

    /* responsibilities */
    #responsibilities {

        .item {
            width: 100%;
            text-align: center;

            figure {
                display: flex;
                align-items: center;
                width: 100%; 

                img {
                    margin: 0 30px 0 0;
                }

                figcaption {
                    text-align: left;
                }
            }
        }
    }

    /* advantages */
    #advantages {
        .section-description {
            margin-bottom: 50px;
        }

        .items-container {
            flex-direction: column;
            align-items: flex-end;

            .item {
                flex-direction: row;
                align-items: center;
                width: 90%;
                height: 110px;

                .number-circle {
                    min-width: 80px;
                    height: 80px;
                    margin: auto 10px auto -35px;
                }

                p {
                    max-width: 100%;
                    padding: 0 20px 0 0;
                    text-align: left;
                }

                &:nth-child(n) {
                    margin-bottom: 30px;
                }
            }
        }
    }

}