#advantages {

    .section-title {
        max-width: 950px;
    }

    .section-description {
        max-width: 1080px;
        margin-bottom: 100px;
    }

    .items-container {
        align-items: baseline;
        padding: 0 15px;
    }

    .item {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 23.5%;
        height: 175px;
        background-color: $branc-color;
        border-radius: 10px;

        &:nth-child(1) p {
            max-width: 250px;
        }

        &:nth-child(2) p {
            max-width: 230px;
        }

        &:nth-child(3) p {
            max-width: 222px;
        }

        &:nth-child(4) p {
            max-width: 270px; 
        }
    }

    .number-circle {
        display: flex;
        width: 106px;
        height: 106px;
        margin: -53px 0 30px;
        background: #fff;
        border: 5px solid $branc-color;
        border-radius: 50%;

        span {
            margin: auto;
            font: bold 45px Montserrat;
            color: #0d0d0d;
        }
    }

    .description {
        text-align: center;
        color: #fff;
    }
}