#responsibilities {
    background-color: #f7f7f7;

    .section-description {
        max-width: 1080px;
    }

    .items-container {
        justify-content: center;
        align-items: baseline;
    }

    .item {
        width: 360px;
        margin-bottom: 30px;
    }

    figure {
        img {
            margin-bottom: 10px;
        }
    }
} 