#technology2 {
    background-color: #f7f7f7;

    .section-title {
        max-width: 900px;
    }

    .section-description {
        max-width: 1180px;
    }

    .illustration-block {
        figure {
            position: relative;
            display: flex;
            align-items: flex-start;

            .line {
                margin-top: 60px;
            }
 
            figcaption {
                position: absolute;
                top: 50px;
                left: 160px;
                max-width: 320px;
                color: #fff;
                line-height: 24px;

            }
        }
    }

    .description-block {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-left: 20px;

        .text-1 {
            position: relative;
            max-width: 500px;
            text-align: center;

            &::before,
            &::after {
                content: '';
                display: block;
                width: 14px;
                height: 10px;
            }

            &::before {
                margin: 10px auto 25px;
                background: url(../images/arrow2.png) center/contain no-repeat;
            }

            &::after {
                margin: 20px auto;
                background: url(../images/arrow3.png) center/contain no-repeat;
            }
        }

        .text-2 {
            max-width: 400px;
            margin-bottom: 28px;
            font-size: 14px;
            text-align: center;
        }
    }
}