#technology1 {
    padding-bottom: 0;


    .description-block {
        flex: 1;

        .description {
            line-height: 1.4;
            margin-bottom: 40px;
        }
    }

    .illustration-block {
        flex: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        figure {
            position: relative;
            width: 612px;
            height: 305px;
 
            img {
                width: 100%;
            }
        }

        .caption-container {
            position: absolute;

            .hidden-content {
                opacity: 0;
            }

            &.active .hidden-content {
                opacity: 1;
            }

            &[data-caption-id="1"] {
                top: 34px;
                left: 60px;

                .toggle-caption-btn {
                    top: 2px;
                    left: 170px;
                }
            }

            &[data-caption-id="2"] {
                top: 210px;
                left: 400px;

                .toggle-caption-btn {
                    top: 12px;
                    left: -50px;
                }
            }

            h4 {
                margin-bottom: 5px;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: bold;
                color: #1d1d20;
            }

            p {
                font-size: 14px;
                line-height: 1.2;
            }
        }

        .toggle-caption-btn {
            display: flex;
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #f7f7f7;
            font-weight: 100;

            &::before,
            &::after {
                position: absolute;
                top: 50%;
                left: 50%;
                content: '';
                display: block;
                height: 1px;
                width: 20px;
                background-color: #000;
            }

            &::after {
                height: 20px;
                width: 1px;
                margin-top: -10px;
            }

            &::before {
                margin-left: -10px;
            }

            &:hover {
                background-color: $branc-color;
            }

            &:hover::before,
            &:hover::after {
                background-color: #fff;
            }
        }
    }
}